# Ignore data files and directories
data/evaluations_gpt4o/
# data/spss/
untracked/
backup/
data/spss/archive/
data/raw_reddit/
data/aitah/
data/anxiety/
data/evaluations_gpt4o/
data/results-fix/
data/topic_analysis-analysis2/
results/
data/dr-outputs/

# Helper files
aitah_analysis.py

.history
.vscode/
.DS_Store
__pycache__/
*.pyc
*.pyo

# API keys and environment variables
.env